@font-face{
    font-family:"HighTower";
    src:local('HighTower'),
    url('./fonts/High\ Tower\ Text\ Regular/HighTowerTextRegular.ttf') format("truetype");
    font-weight:regular
}



body{
    font-family:"HighTower";
    color:#442316;
}

body a {
    color:#442316;
    
}
Nav a {
    color:#442316;
}


.fullPageWrapper{
    width:100vw;
    height:100vh;
}

.homeLayout{
    height:90vh;
    width:75vw;
}

.logo{
    width:80%;

}

.fw-1{
font-size:1.75em;
}

/* .fs-2{
    font-size:
} */

.bspBrown{
    background-color: #442316;
}

.sideBar{
    width:40%;
    background-color: rgba(255, 255, 255, 0.543);
}
.sidebar-wrapper{
    height:100vh;
    max-width:960px;
    margin-left:auto;
    margin-right:auto;

}

.openConversation{
    background-color: rgba(255, 255, 255, 0.543);
    border-left: 1px solid rgb(227, 225, 225);
    
}
.tab-color{
    color:#442316;
}